/* --- Mobile View Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  font-family: 'poppins', sans-serif;
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
  margin: 0;
}

.header-nav-links {
  display: none;
}

/*  DOM manipulations */
.mobile-header-nav-links {
  display: none;
  position: fixed;
  inset: 0% 0% 20% 0%;
  margin-top: 0;
  height: 100vh;
  z-index: 10;
  flex-direction: column;
  padding-top: 5rem;
  line-height: 5rem;
  background: #6070ff;
  transition: top 1s ease;
  opacity: 95%;
}

a {
  align-items: center;
}

a:active {
  color: #7f8cff;
}

a:hover {
  cursor: pointer;
}

.popup-container a {
  display: inline-block;
  text-decoration: none;
}

/*  DOM manipulations */

.mobile-header-nav-links li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 2rem;
}

.x-icon {
  margin-left: 18rem;
  width: 20px;
  height: 20px;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

li {
  list-style-type: none;
}

.technology-list li {
  padding: 0.5rem;
  background: #f7f7f9;
  flex: 1;
  justify-content: flex-start;
  margin-top: 0.5rem;
  border-radius: 0.6rem;
}

span {
  margin: 4px;
  align-items: baseline;
}

.grid-container span {
  color: #344563;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popup-container span {
  color: #344563;
  font-size: 1rem;
  line-height: 45px;
}

.technology-list li span {
  font-size: 1rem;
}

.my-5 {
  padding: 2rem 0;
}

.border-bottom {
  border-bottom: 1px solid #dfe1e6;
}

.technology-item {
  padding-right: 2rem;
}

ul {
  padding: 0;
}

/* --- Header View For Mobile */
.toolbar {
  padding: 20px;
  align-items: center;
  background-color: white;
}

.logo-heading {
  font-size: 1.2rem;
  color: #2e43ff;
  padding: 11px;
}

.connect-color {
  color: #4e5cd4;
}

h2 > a:link {
  text-decoration: none;
}

h2 > a:hover {
  cursor: pointer;
  text-decoration: #6070ff;
}

.logo-heading:link {
  text-decoration: none;
}

.logo-heading:hover {
  cursor: pointer;
  text-decoration: #565ea5;
}

.icon:hover {
  cursor: pointer;
}

/* --- Section For Mobile */
.headline {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3rem;
  background-color: white;
  padding-bottom: 10rem;
  border-bottom-left-radius: 8rem;
  margin-bottom: 3rem;
  margin-top: -0.8rem;
}

/* --- DOM Manipulation --- */

.popup {
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 100%;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  z-index: 3;
  opacity: 98%;
  background-color: #c1c7d0;
  margin-bottom: 2rem;
}

.hide {
  display: none;
}

.show-popup {
  display: block;
  visibility: visible;
}

.popup-container {
  height: 83vh;
  padding-left: 1rem;
  padding-bottom: 4rem;
  padding-right: 1rem;
  background-color: #fff;
  border-radius: 20px;
}

.popup-container h3 {
  color: #172b4d;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.popup-container div {
  display: flex;
  justify-content: space-between;
}

.space {
  display: flex;
  justify-content: space-between;
}

.cancel {
  position: relative;
  top: 2.5rem;
  visibility: hidden;
  width: 20px;
  height: 20px;
  z-index: 10;
  padding-right: 1.5rem;
}

p {
  color: #344563;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.popup-container p {
  line-height: 33px;
  color: #344563;
  padding: 4px;
  margin: 0;
}

.popup-button {
  border: 2px solid #7f8cff;
  color: #6070ff;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  padding-right: 0.7rem;
  margin-left: 0.7rem;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  margin-bottom: 1.5rem;
}

.popup-container .line {
  border: 1px solid #ebecf0;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

span > img {
  margin: 4px;
}

.popup-button-live {
  border: 2px solid #7f8cff;
  color: #6070ff;
  padding-left: 1rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.popup-button img {
  margin-left: 0.7rem;
}

.popup-button-live img {
  margin-left: 1rem;
}

.headline > .intro {
  color: #172b4d;
  font-size:  2.5rem;
  line-height: 48px;
}

.headline-content-wrapper {
  background-image: url(images/header-shapes-mobile.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.popup-window {
  display: none;
}

.headline > p {
  color: #344563;
}

.anchor {
  font-size: 1.1rem;
  color: #2e43ff;
  text-decoration: none;
}

/* Button Flex */

.button-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-left-flex {
  display: flex;
  flex-wrap: wrap;
}

.code-button {
  margin-left: 0;
}

/* --- Nav Links For Mobile */

.resume {
  padding: 11px;
}

.social-links .resume {
  border: 2px solid #7f8cff;
  border-radius: 8px;
  color: #2e43ff;
  padding: 9px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.resume:link {
  text-decoration: none;
}

.resume:visited {
  text-decoration: none;
}

.resume:hover {
  background: #6070ff;
  cursor: pointer;
  color: white;
}

.resume:active {
  background: #2230d2;
  color: white;
}

.social-links > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0.1px;
}

.social-links > ul > li > a > img {
  margin-right: 15px;
}

/* --- Mobile Works Section --- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 7rem 1.5rem;
}

.flex-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dfe1e6;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem 0;
  background-color: white;
}

.project-card-image {
  width: 100%;
}

.flex-cards h3 {
  margin: 0;
}

.flex-cards h2,
.ruby,
.flex-cards h4 {
  display: none;
}

.project-card-image.desktop {
  display: none;
}

h1 {
  padding-left: 8px;
  margin-top: 10px;
  font-size: 40px;
  color: #172b4d;
}

.type {
  flex-wrap: wrap;
}

.type > li > span {
  background: #ebebff;
  border: 1px solid #ebebff;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
  color: #6070ff;
}

.type > li {
  padding: 0.51rem 1rem;
  background-color: #ebebff;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
  color: #2e43ff;
}

/* --- Mobile About Section --- */

.button {
  margin-top: 16px;
  margin-bottom: 19px;
  border: 2px solid #7f8cff;
  border-radius: 8px;
  color: #2e43ff;
  padding: 9px;
  padding-left: 14px;
  padding-right: 14px;
  width: 8rem;
  display: flex;
  justify-content: center;
}

.button:link {
  text-decoration: none;
}

.button:visited {
  text-decoration: none;
  border: 1px solid #c1c7d0;
}

.button:hover {
  background: #6070ff;
  cursor: pointer;
  color: white;
  box-shadow: 0 8px 16px 0 #4053fc3d;
}

.button:active {
  background: #2230d2;
  color: white;
}

.grid-container h3 {
  font-size: 2rem;
  color: #172b4d;
  padding: 11px;
}

.about {
  padding: 0 1.5rem;
  background-color: white;
  padding-top: 3rem;
  border-top-right-radius: 8rem;
}

.about > h2 {
  font-size: 50px;
  color: #172b4d;
}

.list {
  margin-top: 50px;
  font-size: 20px;
}

.languages {
  font-size: 15px;
  color: #253858;
}

.list .skills-tag {
  margin-left: 187px;
}

.list .frame-tag {
  margin-left: 130px;
}

.list .lang-tag {
  margin-left: 141px;
}

/* -- Contact Styling -- */

.contact {
  background-image: url(images/contact-form-mobile.png);
  background-size: contain;
  background-position: 13rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  margin-top: 7rem;
  background-color: #4d5ef7;
  padding-top: 3rem;
  border-top-left-radius: 8rem;
}

.contact h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
}

.contact p {
  color: #fff;
  font-size: 20px;
  line-height: 31px;
  margin-left: 28px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.inputs li {
  display: flex;
  margin: 1rem;
}

form .inputs {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #cfd8dc;
  padding-left: 1.5rem;
  padding-right: 4.6rem;
  padding-top: 1rem;
  display: flex;
  flex: 1;
  padding-bottom: 1rem;
  border-radius: 7px;
}

::placeholder {
  color: #b3bac5;
}

textarea {
  border: 1px solid #cfd8dc;
  padding-left: 1.5rem;
  padding-right: 4.6rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  border-radius: 7px;
  font-size: 1.5rem;
}

button {
  border: 2px solid #fff;
  border-radius: 8px;
  color: #2e43ff;
  background-color: #fff;
  padding: 12px 24px;
  margin-bottom: 28px;
  font-size: 18px;
}

button:link {
  text-decoration: none;
}

button:visited {
  text-decoration: none;
  border: 1px solid #c1c7d0;
}

button:hover {
  background: #6070ff;
  cursor: pointer;
  color: white;
  box-shadow: 0 8px 16px 0 #4053fc3d;
}

button:active {
  background: #2230d2;
  color: white;
}

footer {
  border: 2px solid #0d151e;
  margin-bottom: 0.8rem;
  margin-left: 9.6rem;
  margin-right: 9.6rem;
  border-radius: 4rem;
}

label {
  color: #fff;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.error-text {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}

/* --- Laptop and Desktop Version --- */

@media screen and (min-width: 992px) {
/* Button Styling */

  .code-button {
    margin-left: 2rem;
  }

  #mobile {
    display: none;
  }

  .logo-heading {
    margin-left: 5%;
  }

  .hamburger-menu {
    margin-right: 9%;
    color: #344563;
  }

  .headline-content-wrapper {
    background-image: url(images/desktop-header.png);
    padding-top: 10%;
    padding-right: 25%;
    padding-left: 10%;
    padding-bottom: 15%;
  }

  /* DOM Manipulation */
  .mobile-header-nav-links {
    display: none !important;
  }

  .mobile-header-nav-links li a {
    display: none;
  }

  .popup {
    padding-left: 12.5rem;
    padding-right: 10rem;
  }

  .popup-container {
    height: 94.5vh;
    padding-bottom: 0;
  }

  .modal-image {
    margin-left: 3.5rem;
    margin-bottom: 0;
    height: 50%;
    width: 80%;
  }

  .type > li {
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .technology-list li {
    flex-direction: column;
    align-items: flex-start;
    width: 8rem;
    flex: none;
    margin-right: 1rem;
  }

  .inputs li {
    text-align: center;
  }

  .popup-container ul li {
    margin-top: 0;
  }

  .popup-container .line {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .x-icon {
    display: none;
  }

  h1 {
    margin-right: 46%;
  }

  .intro {
    font-size: 300%;
  }

  .headline p {
    font-size: 125%;
    margin-right: 3%;
  }

  .header-nav-links {
    display: flex;
  }

  .header-nav-links li a {
    color: #344563;
    text-decoration: none;
    padding: 0 1rem;
  }

  .hamburger-menu a:active {
    color: #7f8cff;
  }

  .hamburger-menu a:link {
    text-decoration: none;
  }

  .hamburger-menu a:hover {
    cursor: pointer;
    text-decoration: #6070ff;
  }

  .icon {
    display: none;
  }

  /* --- Works Styling --- */
  .grid-container h3,
  .grid-container p {
    display: none;
  }

  .grid-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .grid-container .button {
    margin-bottom: 65px;
  }

  .flex-cards {
    display: flex;
    flex-direction: row !important;
  }

  .flex-card-text {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  .flex-cards h2,
  .ruby {
    display: flex;
  }

  .flex-cards0 span {
    margin-right: 20%;
  }

  .flex-cards1 {
    order: 1;
  }

  .flex-cards1 h2 {
    margin-right: 28%;
    color: #091e42;
  }

  .contact h2 {
    font-size: 250%;
    line-height: 175%;
    text-align: center;
  }

  .flex-cards1 h4,
  .flex-cards2 h4,
  .flex-cards4 h4,
  .flex-cards3 h4 {
    display: inline-block;
    color: #344563;
  }

  .flex-cards2 {
    order: 3;
  }

  .flex-cards3 .project-card-image {
    display: none;
  }

  .flex-cards3 .project-card-image.desktop {
    display: flex;
    width: 50%;
    height: 100%;
    order: 0;
  }

  .flex-cards1 .project-card-image,
  .flex-cards2 .project-card-image,
  .flex-cards4 .project-card-image {
    display: flex;
    width: 50%;
    height: 100%;
  }

  .flex-cards.right img {
    order: 2;
  }

  .flex-cards4 h2 .flex-cards2 h2 {
    color: #091e42;
  }

  /* --- About Styling --- */

  .about {
    display: flex;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .about-header {
    flex: 2;
    margin-right: 6rem;
    margin-top: 10%;
  }

  .link-section {
    flex: 3;
    margin-top: 0;
  }

  .technology-list {
    display: flex;
  }

  .about-header .social-links {
    margin-bottom: 30%;
  }

  /* --- Contact Styling --- */

  .contact {
    background-image: url(images/desktop-contact-form.png);
    background-position: 0.4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .contact p {
    font-size: 125%;
    line-height: 175%;
    text-align: center;
    margin-left: 12rem;
    margin-right: 12rem;
  }

  input {
    padding-left: 3rem;
    padding-right: 6rem;
    border-radius: 5px;
  }

  .contact-bg {
    background-color: #fff;
  }

  button {
    margin: auto;
  }

  textarea {
    font-family: 'poppins', sans-serif;
    flex: 1;
  }

  /* .button:hover {
    animation-name: box-shadow;
    animation-duration: 650ms;
    animation-delay: 4ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes box-shadow {
    100% {
      box-shadow: 1px 3px gray;
      transform: scale(1.2);
    }
  }

  .resume:hover {
    animation-name: shadow;
    animation-duration: 650ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes shadow {
    100% {
      box-shadow: 2px 5px gray;
      transform: scale(1.4);
    }
  } */

  footer {
    display: none;
  }

  button:hover {
    animation-name: color;
    /* animation-duration: 600ms;
    animation-delay: 4ms;
    animation-timing-function: ease-in-out; */
  }

  @keyframes color {
    100% {
      background-color: #7f8cff;
    }
  }
}
